.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 1rem;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.inputWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.passwordArea {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.forgotPassword {
  align-self: flex-end;
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  width: 100%;
  max-width: 1280px;
}

/* * Media queries */

@media screen and (min-width: 768px) {
  .container {
    width: 450px;
  }
}

/* Estilos para telas grandes (desktops) */
@media screen and (min-width: 1200px) {
  .container {
    width: 500px;
  }
}