:root {
  font-family: "inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg-color: #ffffff;
  --text-color: #000000;
  --primary-color: #000000;
  --secondary-color: #e0e0e0;
  --tertiary-color: #717171;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-full: 999px;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  --bg-color: #000000;
  --text-color: #ffffff;
  --primary-color: #ffffff;
  --secondary-color: #2d2d2d;
  --tertiary-color: #898989;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: absolute;
  top: 0;
  background-color: #646cff;
  display: flex;
  flex-grow: 1;
  margin: 0 auto;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: #646cff;
  display: flex;
  flex-grow: 1;
  margin: 0 auto;
}

a {
  font-weight: 500;
  font-size: 14px;
  color: var(--primary-color);
  text-decoration: underline;
  transition: 0.3s ease;
}
a:hover {
  color: var(--tertiary-color);
}

body {
  display: flex;
  place-items: center;
  /* margin: 0;
  min-width: 320px;
  min-height: 100vh; */
}

/* * Classes */

.btn {
  display: flex;
  justify-content: center;
  border-radius: var(--radius-lg);
  padding: 12px 16px;
  font-weight: 500;
  font-size: 18px;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  flex-grow: 1;
  gap: 8px;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

.btn-secondary {
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.btn-primary:hover,
.btn-secondary:hover {
  scale: 1.02;
  transition: 0.3s ease-in-out;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input-icon {
  font-family: "Material Symbols Outlined";
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  transition: font-variation-settings 0.3s ease, color 0.3s ease;
  position: absolute;
  color: var(--primary-color);
  font-size: 24px;
  user-select: none;
}

.input-wrapper:focus-within .input-icon {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  color: var(--primary-color);
}

.icon-left {
  left: 16px;
  pointer-events: none;
}

.icon-right {
  right: 16px;
  cursor: pointer;
}

.input {
  width: 100%;
  height: 48px;
  border-radius: var(--radius-full);
  border: 1px solid var(--primary-color);
  background: var(--bg-color);
  padding-left: 16px;
  padding-right: 16px;
  outline: none;
  color: var(--text-color);
  font-size: 16px;
}

.input.has-left-icon {
  padding-left: 48px;
}

.input.has-right-icon {
  padding-right: 48px;
}

.input:focus {
  border-color: var(--tertiary-color); /* Ou um tom mais escuro */
  box-shadow: 0 0 0 2px rgba(var(--primary-rgb), 0.1);
}

.input::placeholder {
  color: var(--tertiary-color);
}

/* .input:focus {
  border-width: 2px;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
